@page
@model Application.Pages.Account.AccessDenied.Index
<div class="alert alert-danger">
	<div class="alert-body">
		<h1>
			<svg class="align-bottom text-danger" height="2.6rem" role="presentation" width="2.6rem">
				<use xlink:href="/Style/Sprites/sprite.svg#exclamation-octagon-fill" />
			</svg>
			@Localizer["heading"]
		</h1>
		<p>@Localizer["information"]</p>
	</div>
</div>